*::after,
*::before,

/*font-family: "Permanent Marker" , cursive;
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
    background: linear-gradient(
        90deg,
        rgb(255, 34, 200) 0%,
        rgb(63, 184, 240) 50%,
        rgb(54, 255, 228) 50%
    );

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    min-height: 75vh;
    align-items: center;
}


.MENU{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.MENU .LOGO{
    color: #fad534;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
}


.MENU .navbar ul li {
    position: relative;
    float: left;

}

.MENU .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fdf8fb;
    display: block; 
}

.MENU .navbar ul li a:hover {
    color: #09ff00;
}

#menu {
    display: none;   
}
.MENU-icono {
    width: 25px;
}

.MENU label{
    cursor: pointer;
    display: none;

}
.header-content {
    display: flex;
    align-items: center;
}

.header-txt{
    width: 50%;
}

.header-txt h1 {
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 5px;
    font-family: "Permanent Marker" , cursive;
    color: #fffb14;
    text-transform: uppercase; 
    margin-bottom: 25px;
}

.header-txt span {
    font-size: 20px;
    color: #fdf8fb;
    font-family: "Permanent Marker" , cursive ;
}
p{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    color: #110505;
    padding: 13px 20px ;
    background-color: #fdf8fb;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-1 :hover {
  background-color: #fffb14;

}

.header-img{
   width: 50%; 
}

.header-img img {
   width: 700px; 
}

.SERVICIOS{
   display: flex; 
   justify-content: space-between;
   padding: 0 0 50px 0;
}

.SERVICIOS-1 {
    text-align: center;
    padding: 35px;
    margin: 0 10px;
}

.SERVICIOS-1 img {
    width: 35px;
    margin-bottom: 15px;
}

.SERVICIOS-1 h3 {
   font-size: 20px;
   font-family: "Permanent Marker" , cursive ;
   color: #FECE00;
   margin-bottom: 15px;
}

.info {
    padding: 30px 0;
    display: flex;
}

.info-1 {
    width: 30%;   
}

.info-1 img {
   width: 40px; 
}

.info-2 {
    width: 40%;
}

h2 {
    font-size: 50px;
    letter-spacing: 5px;
    font-family: "Permanent Marker" , cursive ;
    color: #FECE00;
}

.PIZZA {
    padding: 0 0 100px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PIZZA-content {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.PIZZA-1 {
    padding: 35px;
    text-align: center;
}

.PIZZA-1 img {
    width: 250px;
}

.PIZZA-1 h3 {
    font-size: 22px;
    color: #fdf8fb;
    margin-bottom: 15px;
}

.btn-2 {
  
    display: inline-block;
    color: #110505;
    padding: 10px 30px ;
    background-color: #fbff17;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;

}

.btn-2:hover {
    background-color: #fdf8fb;
}


.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #FFF4FF52;
}

.link h3{
    color: #fdf8fb;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
   display: block;
   font-size: 16px;
   color: #fdf8fb;
   margin-bottom: 10px; 
}

.link a:hover {
    color: #FECE00;
}

@media(max-width:991px) {

    .MENU {
        padding: 20px;
    }

    .MENU label {
        display: initial;
    }

    .MENU .navbar {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #FECE00;
        display: none;
    }

    .MENU .navbar ul li {
        width: 100%;
    }

    .MENU .navbar ul li a{
        color: #400E00;
    }
    .MENU .navbar ul li :hover {
       color: #515151;
    }

    #MENU:checked ~ .navbar {
       display: initial; 
    }


    .header-content {
        flex-direction: column;
        padding: 100px 30px 0 30px;
    }

    .header-txt {
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }

    .header-txt h1 {
        font-size: 50px;
        line-height: 60px
    }

    .header-img {
        width: 100%;
        text-align: center;

    }

    .header-img img {
        width: 300px;
    }

    .SERVICIOS {
        flex-direction: column;
        padding: 0 30px 0 30px;
    }

    h2 {
       font-size: 40px; 
    }

    .info {
        flex-direction: column;
        padding: 0 30px 0 30px
    }

    .info-1{
        text-align: center;
        width: 100%;
        order: 2;
    }

    .info-1 img {
       width: 250px; 
    }

    .info-2 {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;    
    }

    .PIZZA{
        padding: 30px;
    }

    .PIZZA-content {
        margin-top: 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
}

.icono-logo{
    /* background-image: url(https://th.bing.com/th/id/OIG2.XUkRojgosAi0FbxyVX1N?pid=ImgGn); */
    position: absolute;
    width: 180px;
    top: 10px;
    left: 10px;
    border-radius: 56px;         
}